/* .sec1{
    background-color:rgb(180, 39, 39);
    
    
} */
.inbox1{
    min-height: 75px;
    /* background-color: aqua; */
    /* display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column; */
}
.sec2{
    background-color: cornflowerblue;
    
}
.inbox2{
    min-height: 550px;
    /* background-color: rgb(203, 131, 23); */
    display: flex;
    align-items:center;
    text-align:center;
    justify-content: center;
    flex-direction: column;
 
}
.inbox22{
     min-height: 550px;
    /* background-color: rgb(203, 131, 23); */
    display: flex;
    align-items:first baseline;
    text-align:left;
    justify-content: center;
    flex-direction: column;

}
p.h1{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    /* font-size: 48px; */
    

}
.para{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.line{
    font-family: 'Franklin G othic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    
}
.para1{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 20px; */
    padding-top: 3px;
    padding-bottom: 25px;

}
span{
    font-weight: bold;
}
button.btn-primary{
   
    color:rgb(74, 131, 238);
    padding: 10px 30px;
    background-color: white;
    border: none;
    border-radius: 10px;
}
/* .sec3{
    background-color: blueviolet;
    
} */
.inbox3{
    min-height: 250px; 
    /* background-color: rgb(234, 199, 148); */
    display: flex;
    align-items:center;
    text-align:center;
    justify-content: center;
    flex-direction: column;

}
p.made{
    text-align: center;
    color: black;
    font-size: 25px;
    /* font-weight: bolder; */
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media(max-width:390px){
    p.made{
        font-size: 18px;
    }
     
}
.span1{
    color: rgb(10, 6, 6);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
p.we{
    font-family: inherit;
    text-align: center;
    color: black;
    margin-top: 10px;
 
}
 
button.btn-secondary{
     color:rgb(74, 131, 238);
    padding: 10px 30px;
    background-color: white;
    border: 2px solid rgb(74, 131, 238);
    border-radius: 10px;
 
}
.sec4{
    background-color: cornflowerblue;
    margin-top: 20px;
}
.inbox4{
    /* background-color: rgb(234, 111, 187); */
    min-height: 350px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: center; */
    flex-direction: column;
    
}
.cir1{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    border: 3px solid white;
    background-image: url(ruler.png);
    background-position: center;
    background-size: 97px;
}
p.h4{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    color:  white;
    margin-top: 15px;
    
 
    
}
.shedule{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   
}
.cir2{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    border: 3px solid white;
    background-image: url(fabrics.png);
    background-position: center;
    background-size: contain;
   
}
.cir3{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    border: 3px solid white;
    background-image: url(coat.png);
    background-position: center;
    background-size:97px;
}
.tri{
    background-color:cornflowerblue;
    height: 100px;
    width: 100px;
    margin: auto;
    transform: rotate(45deg);
     
    
}
.sec5{
    background-color: black;
}
.inbox5{
    /* background-color: rgb(197, 79, 79); */
    min-height: 350px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
p.visit{
    color: white;
    padding-top: 20px;
}
@media(max-width:390px){
    p.visit{
    color: white;
    padding-top: 20px;
    font-size: 20px;
}

}
p.h6{
    color: white;
}
.Grand{
    padding-top: 20px;
    padding-bottom: 25px;
}
.sec6{
    /* background-color: rgb(64, 13, 115); */
}
.inbox-indo{
    /* background-color: orange; */
    min-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;

}
.line1{
    font-family: 'Franklin G othic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    
}
.inbox6{
     height: 400px;
    margin-top: 10px;
    background-color: blue;
    /* background-color: aquamarine; */
    /* height: 350px;
    margin: 10px;
    width: 100%; */
    /* min-height: 350px;
    margin-top: 50px; */
    /* margin-top: 70px; */

    /* width: 100%; */
    /* height: 400px; */
    
}
.inbox66{
    height: 400px;
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: blue;
}
img.images{
    width: 100%;
    height: 100%;
}


.sec7{
    background-color: rgb(45, 44, 44);
    min-height: 350px;
 
}
.inbox7{
    /* background-color: red; */
    min-height: 350px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
 p.indo{
    color: white;
}
p.custom{
    color: white;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    /* font-family:Arial, Helvetica, sans-serif Georgia, 'Times New Roman', Times, serif; */
    padding-top: 30px;
    padding-bottom:10px;

}
@media(max-width:390px){
    p.custom{
        font-size: 16px;
    }
}
p.for{
    color: white;
    text-align: center;
    padding-bottom: 20px;
    
}
 
.inbox8{
     min-height: 200px;
    /* background-color:rgb(165, 18, 18); */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    

}
.icons{

    min-height: 50px;
    /* background-color: yellow; */
    /* display: inline-block; */

}
img.fb{
    opacity: 0.5;

}
img.tw{
     opacity: 0.5;
}
img.insta{
     opacity: 0.5;
}
p.copy{
    color: gray;
    padding-top: 20px;
    font-size: 15px;

}
 
 
